<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/navbar.css">
</head>
<body>
    <ul>
        <li><a href="/accounts-home">Accounts</a></li>
        <li><a href="/bankHometown/BH-Checking">BankHometown Checking</a></li>
        <li><a href="/bankHometown/BH-Savings">BankHometown Savings</a></li>
        <li><a href="/DCU/DCU-Checking">DCU Checking</a></li>
        <li><a href="/DCU/DCU-Savings">DCU Savings</a></li>
        <li><a href="/Discover/Discover-Credit">Discover Credit</a></li>
    </ul>
</body>
</html>