<!DOCTYPE html> 
<html> 
<head> 
    <title>Budget App Login</title>
    <link rel="stylesheet" href="../styles/login_style.css">
</head> 
  
<body> 
    <div class="main">
        <h1>Budget App Login</h1>
        <h3>Enter Login Credentials</h3>
        <form action="" method="post">
            <label for="first">Username:</label>
            <input type="text" id="first" name="username" placeholder="Enter your Username" required>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" placeholder="Enter your Password" required>
            <div class="wrap">
                <button type="submit">Submit</button>
            </div>
        </form>
        <p>Not registered?
            <a href="#" style="text-decoration: none;">Create an account</a>
        </p>
    </div>
</body> 
</html>